name: Release

on:
  push:
    tags:
      - "v*.*.*"  # Matches v1.2.3, v10.20.30, etc.
      - "!v*-beta*"
      - "!v*-rc*"
      - "!v*-alpha*"

permissions:
  contents: write
  id-token: write

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  publish:
    runs-on: ubuntu-latest
    needs: ci
    environment: pypi
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

  github-release:
    runs-on: ubuntu-latest
    needs: publish
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: dist/*
